<div class="container" *ngIf="top5.length > 0 && albums.length > 0">
    <h1 class="display-4 text-white">Artist</h1>
    <hr>
    <div class="row">
        <div class="col-7">
            {{artist.name}}
        </div>
        <div class="col">
            <app-top-tracks [tracks]="top5"></app-top-tracks>
        </div>
    </div>
    <hr>
    <h1 class="display-4 text-white">Albums</h1>
    <div class="row">
        <div class="col" *ngFor="let album of albums">
            <app-album-card [album]="album"></app-album-card>
        </div>
    </div>
</div>