/* You can add global styles to this file, and also import other style files */

body {
  background-color: #211d1d;
}

.card {
      background-color: #f1f8fd;
  position: relative;
  border-radius: 40px;
  margin: 30px auto;
  box-shadow: 20px 20px 30px 0 rgba(0,0,0,0.1);
}

.custom-card {
    max-width: 300px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
    background-position: center;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

.custom-card img {
    transition: all linear 0.25s;
}

.custom-card .name {
    position: absolute;
    left: 30px;
    bottom: 70px;
    font-size: 30px;
    color: #FFF;
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    font-weight: bold;
    transition: all linear 0.25s;
}


.custom-card:hover img {
    filter: grayscale(100%);
}

.custom-card:hover .name {
    bottom: 80px;
}



